<form #contactForm='ngForm' (ngSubmit)='save(contactForm)'>
  <mat-form-field>
    <input matInput placeholder="First Name" required #firstName='ngModel' name='firstName'
      [(ngModel)]='contactData.firstName'>
    <mat-error *ngIf="firstName?.invalid && (firstName.dirty || firstName.touched)">
      <div *ngIf="firstName.errors.required">
        First Name is required.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Last Name" required #firstName='ngModel' name='lastName'
      [(ngModel)]='contactData.lastName'>
    <mat-error *ngIf="lastName?.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors.required">
        Last Name is required.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Address Line 1" required #addressLineOne='ngModel' name='addressLineOne'
      [(ngModel)]='contactData.addressLineOne'>
    <mat-error *ngIf="addressLineOne?.invalid && (addressLineOne.dirty || addressLineOne.touched)">
      <div *ngIf="addressLineOne.errors.required">
        Address Line 1 is required.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Address Line 2" #addressLineTwo='ngModel' name='addressLineTwo'
      [(ngModel)]='contactData.addressLineTwo'>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="City" required #city='ngModel' name='city' [(ngModel)]='contactData.city'>
    <mat-error *ngIf="city?.invalid && (city.dirty || city.touched)">
      <div *ngIf="city.errors.required">
        City is required.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select matInput required #country='ngModel' name='country' [(ngModel)]='contactData.country'>
      <mat-option *ngFor="let c of countries" [value]="c.name">
        {{c.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="country?.invalid && (country.dirty || country.touched)">
      <div *ngIf="country.errors.required">
        Country is required.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Postal Code" required #postalCode='ngModel' name='postalCode'
      [(ngModel)]='contactData.postalCode' [pattern]='getPostalCodeRegex()'>
    <mat-error *ngIf="postalCode?.invalid && (postalCode.dirty || postalCode.touched)">
      <div *ngIf="postalCode.errors.required">
        Postal code is required.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Phone" required #phone='ngModel' name='phone' [(ngModel)]='contactData.phone'
      [pattern]='getPhoneRegex()'>
    <mat-error *ngIf="phone?.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="phone.errors.required">
        Phone is required.
      </div>
      <div *ngIf="phone?.invalid">
        Phone is invalid.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Age" required #age='ngModel' name='age' [(ngModel)]='contactData.age'
      [range]="[0, 200]">
    <mat-error *ngIf="age?.invalid && (age.dirty || age.touched)">
      <div *ngIf="age.errors.required">
        Age is required.
      </div>
      <div *ngIf="age?.errors?.range">
        Age is invalid.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Email" required #email='ngModel' name='email' [(ngModel)]='contactData.email' email>
    <mat-error *ngIf="email?.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required.
      </div>
      <div *ngIf="email?.errors?.email">
        Email is invalid.
      </div>
    </mat-error>
  </mat-form-field>
  <br>
  <div mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial>Save</button>
  </div>
</form>
